In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [23]:
df=pd.read_csv(r"C:\Users\Basel\Desktop\Data Analysis Projects\Python+SQL\orders.csv",na_values=["Not Available","unknown"])

In [24]:
df.isnull().sum()

Order Id            0
Order Date          0
Ship Mode           6
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [25]:
df["Ship Mode"].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [26]:
df["Ship Mode"].replace("unknown", np.nan, inplace=True)

In [27]:
df["Ship Mode"].replace("Not Available", np.nan, inplace=True)

In [28]:
df.isnull().sum()

Order Id            0
Order Date          0
Ship Mode           6
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [29]:
df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [53]:
newColumnNames={col:col.replace(" ","_").lower() for col in df.columns}

In [54]:
df.rename(columns=newColumnNames,inplace=True)

In [77]:
df.columns=df.columns.str.lower()

In [78]:
df.columns=df.columns.str.replace(" ","_")

In [79]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [83]:
df["discount"]=df["list_price"]*df["discount_percent"]*0.01

In [85]:
df["sale_price"]=df["list_price"]-df["discount"]

In [87]:
df["profit"]=df["sale_price"]-df["cost_price"]

In [98]:
df["order_date"]=pd.to_datetime(df["order_date"],format="%Y-%m-%d")

In [102]:
df.select_dtypes('datetime64')

     order_date
0    2023-03-01
1    2023-08-15
2    2023-01-10
3    2022-06-18
4    2022-07-13
...         ...
9989 2023-02-18
9990 2023-03-17
9991 2022-08-07
9992 2022-11-19
9993 2022-07-17

[9994 rows x 1 columns]

In [103]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent', 'discount', 'sale_price', 'profit'],
      dtype='object')

In [107]:
df.drop(columns=["list_price",'cost_price','discount_percent'],inplace=True)

In [119]:
import sqlalchemy as sal
import urllib

In [124]:
server = 'DESKTOP-52V0P9J\\SQLEXPRESS'
database = 'PortfolioProject'
driver = 'ODBC Driver 17 for SQL Server'  # or whichever version you have installed

# Create the connection string
connection_string = f"mssql+pyodbc:///?odbc_connect={urllib.parse.quote_plus('DRIVER={'+driver+'};SERVER='+server+';DATABASE='+database+';Trusted_Connection=yes')}"

# Create the SQLAlchemy engine
engine = sal.create_engine(connection_string)

conn=engine.connect()
# Test the connection by retrieving the version of SQL Server
with engine.connect() as connection:
    result = connection.execute("SELECT @@VERSION")
    for row in result:
        print(row)

('Microsoft SQL Server 2022 (RTM) - 16.0.1000.6 (X64) \n\tOct  8 2022 05:58:25 \n\tCopyright (C) 2022 Microsoft Corporation\n\tExpress Edition (64-bit) on Windows 10 Pro 10.0 <X64> (Build 22000: )\n',)

In [135]:
df.to_sql('df_orders',con=conn,index=False,if_exists="replace")

-1

In [132]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'profit'],
      dtype='object')